@{
  Layout = "_Layout";
}

@model Office.Models.Doctor

<h2>Add Doctor</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.DoctorName)
  @Html.TextBoxFor(model => model.DoctorName, new { required = "required" })

  @Html.LabelFor(model => model.Specialty)
  @Html.TextBoxFor(model => model.Specialty, new { required = "required" })

  <input type="submit" value="Add new Doctor" />
}
<h5>@Html.ActionLink("Doctors List", "Index")</h5>
<h5>@Html.ActionLink("Home", "Index", "Home")</h5>