@{
  Layout = "_Layout";
}

<div class="container">
@model Office.Models.Doctor

<h2>Add Doctor</h2>
<hr/>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name) 
  @Html.TextBoxFor(model => model.Name, new { required = "required"})
<br>
  @Html.LabelFor(model => model.Specialty)
  @Html.DropDownList("SpecialtyId")

  <input type="submit" value="Add" />
}
<hr/>
<h5 class="pageLink">@Html.ActionLink("Doctors List", "Index")</h5>
<h5 class="pageLink">@Html.ActionLink("Home", "Index", "Home")</h5>

</div>