@{
  Layout = "_Layout";
}

@model Office.Models.Doctor

<h2>Add Doctor</h2>
<hr/>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.DoctorName) 
  @Html.TextBoxFor(model => model.DoctorName, new { required = "required"})
<br>
  @Html.LabelFor(model => model.Specialty)
  @Html.DropDownList("SpecialtyId")
<br>
  <input type="submit" value="Add" />
}
<h5>@Html.ActionLink("Doctors List", "Index")</h5>
<h5>@Html.ActionLink("Home", "Index", "Home")</h5>