@{
  Layout = "_Layout";
}

@model Office.Models.Doctor

<h2>Edit</h2>

<h4>Edit Doctor: @Html.DisplayFor(model => model.DoctorName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DoctorId)

  @Html.LabelFor(model => model.DoctorName)
  @Html.EditorFor(model => model.DoctorName)
  <br>
  @Html.LabelFor(model => model.Specialty.Name)
  @Html.EditorFor(model => model.Specialty.Name)

  <input type="submit" value="Save" />
}
<h5>@Html.ActionLink("Back to list", "Index")</h5>