@{
  Layout = "_Layout";
}

@using Office.Models

<h2>Doctors List</h2>
<hr />

@if (@Model.Count == 0)
{
  <h4>No Doctor on List Yet!</h4>
} 
else
{
  <h3>*Click on Doctor to See Details*</h3> 
  <ul>
    @foreach(Doctor doctor in Model)
    {
      <li>@Html.ActionLink($"{doctor.Name}", "Details", new { id = doctor.DoctorId })</li>
    }
  </ul>
  <h5 class="pageLink">@Html.ActionLink("Add Patient", "Create", "Patients")</h5>

}
@if (@ViewBag.SpecialtyNum > 0)
{
<h5 class="pageLink">@Html.ActionLink("Add Doctor ", "Create", "Doctors")</h5> 
}
else
{
  <h3>Add Specialty before adding Doctor!</h3>
}
@* <h5 class="pageLink">@Html.ActionLink("Add Doctor ", "Create", "Doctors")</h5>   *@

<h5 class="pageLink">@Html.ActionLink("Specialty List", "Index", "Specialties")</h5>

<h5 class="pageLink">@Html.ActionLink("Home", "Index", "Home")</h5>
