@{
  Layout = "_Layout";
}

@model Office.Models.Specialty

<h2>Specialty Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Doctors.Count == 0)
{
  <h4>This Specialty does not contain any doctor</h4>
  
}
else
{
  <h4>Doctors in this Specialty</h4>
  <ul>
  @foreach(var doctor in Model.Doctors)
  {
    <li>@Html.ActionLink($"{doctor.DoctorName}", "Details", "Doctors", new { id = doctor.DoctorId })</li>
  }
  </ul>
}
<hr />
@if (@Model.Patients.Count == 0)
  {
    <h4>This Specialty does not contain any Patient yet!</h4>
  }
  
<h5>@Html.ActionLink("Edit Specialty", "Edit", new { id = Model.SpecialtyId })</h5>
<h5>@Html.ActionLink("Delete Specialty", "Delete", new { id = Model.SpecialtyId })</h5>

<h5>@Html.ActionLink("Add Doctor", "Create", "Doctors")</h5>
<h5>@Html.ActionLink("Add Patient", "Create", "Patients")</h5>

<h5>@Html.ActionLink("Home", "Index", "Home")</h5>