@{
  Layout = "_Layout";
}

@model Office.Models.Patient

@* <h2>Add a Doctor</h2> *@

<h4>Add Doctor to Patient: @Html.DisplayFor(model => model.PatientName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PatientId)

    @Html.Label("Select Doctor")
    @Html.DropDownList("DoctorId")

  

    <input type="submit" value="Save" />
}

<h5>@Html.ActionLink("Patients List", "Index")</h5>