@{
  Layout = "_Layout";
}
<h2>Add Doctor</h2>
<hr />

@model Office.Models.Patient

<h4>Patient Name: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PatientId)

    <h5>@Html.Label("Select Doctor")
    @Html.DropDownList("DoctorId")</h5>
  
    <input type="submit" value="Save" class="pageLink" />
}

<h5 class="pageLink">@Html.ActionLink("Cancel", "Index")</h5>