@{
  Layout = "_Layout";
}

@model Office.Models.Patient

<h2>Add Patient</h2>
<hr />

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { required = "required" })
<br />
  @Html.LabelFor(model => model.BirthDate)
  @Html.TextBoxFor(model => model.BirthDate, new { required = "required", @type = "date" })
<br />
  @Html.Label("Select Specialty")
  @Html.DropDownList("SpecialtyId")
<br />
  <input type="submit" value="Add new Patient" class="pageLink" />
}
<hr />
<h5 class="pageLink">@Html.ActionLink("Patient List", "Index")</h5>
<h5 class="pageLink">@Html.ActionLink("Home", "Index", "Home")</h5>