@{
  Layout = "_Layout";
}

@model Office.Models.Patient

<h4>Add Patient</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.PatientName)
  @Html.TextBoxFor(model => model.PatientName, new { required = "required" })
<br />
  @Html.LabelFor(model => model.BirthDate)
  @Html.TextBoxFor(model => model.BirthDate, new { required = "required", @type = "date" })
<br />
  @Html.Label("Select Specialty")
  @Html.DropDownList("SpecialtyId")
<br />
  <input type="submit" value="Add new Patient" id="btn" />
}
<hr />
<h5>@Html.ActionLink("Patient List", "Index")</h5>
<h5>@Html.ActionLink("Home", "Index", "Home")</h5>