@{
  Layout = "_Layout";
}

@model Office.Models.Patient

<h2>Edit</h2>
<hr />
<h4>Edit Patient: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PatientId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name, new { required = "required" })
<br />
    @Html.LabelFor(model => model.BirthDate)
    @Html.EditorFor(model => model.BirthDate, new { required = "required", @type = "date"})
<br />
    

    @Html.Label("Select Specialty")
    @Html.DropDownList("SpecialtyId")
<br />
    <input type="submit" value="Save" class="pageLink"/>
}

<h5 class="pageLink">@Html.ActionLink("Cancel", "Index")</h5>