@{
  Layout = "_Layout";
}

@model Office.Models.Patient

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.PatientName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PatientId)

    @Html.LabelFor(model => model.PatientName)
    @Html.EditorFor(model => model.PatientName, new { required = "required" })

    @Html.LabelFor(model => model.BirthDate)
    @Html.EditorFor(model => model.BirthDate, new { required = "required", @type = "date" })

    @* @Html.Label("Select Doctor")
    @Html.DropDownList("DoctorId") *@

    @Html.Label("Select Doctor")
    @Html.DropDownList("SpecialityId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Patient list", "Index")</p>