@{
  Layout = "_Layout";
}

@using Office.Models;
@model List<Office.Models.Patient>;

<h2>Patients List</h2>
<hr />

@if (@Model.Count == 0)
{
  <h4>Add Specialty Before Adding Patient!</h4>
} 
else
{
  <h4>*Click on Patient Name to See Details*</h4>
}
@foreach (Patient patient in Model)
{
  <li>@Html.ActionLink($"{patient.Name}", "Details", new { id = patient.PatientId })</li>
}
<hr />
@* <h5 class="pageLink">@Html.ActionLink("Add Patient", "Create")</h5> *@
<h5 class="pageLink">@Html.ActionLink("Specialty List", "Index", "Specialties")</h5>
<h5 class="pageLink">@Html.ActionLink("Home", "Index", "Home")</h5>

@* <h5 class="pageLink">@Html.ActionLink("Specialty List", "Index")</h5>
@Html.ActionLink("Edit Patient", "Edit")</h5> *@

